[submodule "vim-coffee-script"]
	path = bundle/vim-coffee-script
	url = git@github.com:kchmck/vim-coffee-script.git
[submodule "vim-stylus"]
	path = bundle/vim-stylus
	url = git@github.com:wavded/vim-stylus.git
[submodule "bundle/vim-proc"]
	path = bundle/vim-proc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/vim-phplint"]
	path = bundle/vim-phplint
	url = git://github.com/Jonty/phplint.vim.git
[submodule "bundle/vim-over"]
	path = bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
