[submodule "bundle/vim-memolist"]
	path = bundle/vim-memolist
	url = git://github.com/glidenote/memolist.vim.git
[submodule "bundle/vim-scp-upload"]
	path = bundle/vim-scp-upload
	url = git://github.com/ryoppy/vim-scp-upload.git
[submodule "bundle/vim-remote-phpunit"]
	path = bundle/vim-remote-phpunit
	url = git://github.com/ryoppy/vim-remote-phpunit.git
[submodule "bundle/vim-proc"]
	path = bundle/vim-proc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/vim-phplint"]
	path = bundle/vim-phplint
	url = git://github.com/Jonty/phplint.vim.git
[submodule "bundle/vim-ruby"]
	path = bundle/vim-ruby
	url = git://github.com/vim-ruby/vim-ruby.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
