[submodule "bundle/vim-proc"]
	path = bundle/vim-proc
	url = git://github.com/Shougo/vimproc.git
[submodule "bundle/vim-phplint"]
	path = bundle/vim-phplint
	url = git://github.com/Jonty/phplint.vim.git
[submodule "bundle/vim-elixir"]
	path = bundle/vim-elixir
	url = https://github.com/elixir-lang/vim-elixir.git
[submodule "bundle/vim-erlang"]
	path = bundle/vim-erlang
	url = https://github.com/jimenezrick/vimerl.git
[submodule "bundle/vim-over"]
	path = bundle/vim-over
	url = https://github.com/osyo-manga/vim-over.git
